@model shop_cake.ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Products
            <small>Product List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Product/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UnitPrice" class="control-label"></label>
                        <input asp-for="UnitPrice" class="form-control" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PromotionPrice" class="control-label"></label>
                        <input asp-for="PromotionPrice" class="form-control" />
                        <span asp-validation-for="PromotionPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @*<label asp-for="ImageUpload" class="control-label"></label>*@
                        <img src="#" id="imgUpload" class="img-fluid" />
                        <input asp-for="ImageUpload" class="form-control" accept=".jpg" />
                        <span asp-validation-for="ImageUpload"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Unit" class="control-label"></label>
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="New" class="control-label"></label>
                        <select asp-for="New" class="form-control">
                            <option value="1" selected>New</option>
                            <option value="0">Old</option>
                        </select>
                        <span asp-validation-for="New"></span>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="New" class="control-label"></label>
                        <input asp-for="New" class="form-control" />
                        <span asp-validation-for="New" class="text-danger"></span>
                    </div>*@

                    <div class="form-group">
                        <label asp-for="IDType" class="control-label"></label>
                        <select asp-for="IDType" class="form-control" asp-items="ViewBag.Name"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUpload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}
